<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Vue.js</title>
    <style>
        .box {
            width: 100px;
            height: 100px;
            background: blue;
            border-radius: 10px;
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bolder;
            color: white;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="hello" v-cloak>
    <!-- <login-form/> -->
    <input @keyup.enter="greet(greating + '!!!!!')" v-model="greating" type="text"> <br>
    {{greating}} <br>
    <button @click="toggle">show/hide box</button>
    <text-box v-if="isVisible" />
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    let app = Vue.createApp({
        data() {
            return {
                greating: 'code with edison',
                isVisible: false
            }
        },
        methods: {
            toggle() {
                this.isVisible = !this.isVisible;
            },
            
           
            greet(greating) {
                console.log(greating);
            }
        }
    });
    
    app.component('login-form', {
        template: `
        <form @submit.prevent='handleLogin'>
            <h1>{{title}}</h1>
            <custom-input
            v-for="(input, i) in inputs"
            :key= "i"
             v-model:modelValue="input.value" 
             :label="input.label"
             :type="input.type"
             
             /><br>
                <button>login</button>
            </form>
        `,
        components: {
            'custom-input': app.component('custom-input')
        },
        data() {
            return {
                title: 'login form',
                inputs: [
                {
                label: 'Email',
                value: '',
                type: 'Email'  
                },
                {
                label: 'password',
                value: '',
                type: 'password'  
                }
                ]
            };
        },
        methods: {
            handleLogin() {
                event.preventDefault();
                console.log(this.inputs[0].value + ' : ' + this.inputs[1].value);
            }
        }
    });

    app.component('custom-input', {
        template: `
            <label>
                {{label}}
                <input :type='type' :value="modelValue" @input="$emit('update:modelValue', $event.target.value)">
            </label>
        `,
        props: ['label','type', 'modelValue'],
        computed: {
            inputValue: {
                get() {
                    return this.modelValue;
                },
                set(value) {
                    this.$emit('update:modelValue', value);
                }
            }
        }
    });
    app.component('text-box', {
  template: `
    <div class="box">1</div>
  `,
  created() {
    console.log('created');
  },
  mounted() {
    console.log('mounted');
  },
  unmounted() {
    console.log('unmounted');
  },
  updated() {
    console.log('updated');
  }
});
    app.mount('#hello');
</script>
</body>
</html>